.scriptblock > div{

  font-family: monospace;
  display: block;
  padding: 8.5px;
  margin: 0px 0px 9px;
  font-size: 1em;
  line-height: 1.2em;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  height: 100%;

}

code {
  font-family: monospace;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);

}

.example-box {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: none;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.control-panel > small {
  display: block;
  font-size: 75%;
  line-height: 13px;
  text-align: justify;
  margin-bottom: 13px;
}

.section-label {
  padding-left: 7px;
  padding-bottom: 3px;
  font-weight: bold;
}

.control-panel > input, .control-panel > select, .control-panel > div > input, .control-panel > div > select {
  width: 95%
}

.intro {
  
  text-align: justify;
  
}

.extracode {
  
  color : rgb(150, 150, 150);
  
}

.maincode {
  
  color: rgb(25, 25, 25);
  font-weight: bold;
  
}