.navbar-form{
  padding-left: 3px;
  padding-right: 3px;
}

td.success {
  background-color: rgb(223, 240, 216);
}

td.error {
  background-color: rgb(242, 222, 222);
}

td.warning, tr.warning {
  background-color: rgb(252, 248, 227);
}

td.info {
  background-color: rgb(217, 237, 247);
}

td.disabled {
  background-color: rgb(230, 230, 230);
  color: rgb(51, 51, 51);
  opacity: 0.65;
}

td.good, tr.good {
  background-color: rgb(200, 240, 205);
  color: rgb(0, 100, 0)
}

td.bad, tr.bad {
  background-color: rgb(255, 200, 205);
  color: rgb(150, 0, 0)
}

td.neutral, tr.neutral{
  background-color: rgb(255, 235, 150);
  color: rgb(150, 100, 0);
}