/*
.shiny-date-range-input > input {
  width: 90px !important;
}

#col2content {
  font-size: 16px;
}

#col2content ul.dropdown-menu > li > a {

  font-size: 0.9em;
  line-height: 1em;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-top: 6px;
  
}

#col2content ul.dropdown-menu > li {
  
  border-bottom-color: rgb(225, 223, 219);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  
}
*/

.navbar-form{
  padding-left: 3px;
  padding-right: 3px;
}

#pbCode, #alCode, #taCode, #nbCode{
  
  display: block;
padding: 8.5px;
margin: 0px 0px 9px;
font-size: 12.025px;
line-height: 18px;
word-break: break-all;
word-wrap: break-word;
white-space: pre-wrap;
background-color: rgb(245, 245, 245);
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px 4px 4px 4px;
  
}