.sbs-menu-bar ul.dropdown-menu li > a {
  padding: 3px 20px 3px 3px !important;
}

li.sbs-menu-wrap input {
  width: auto !important;
}

.sbs-menu-item input {
  margin: -1px;
}

.sbs-menu-wrap.input-append, .sbs-menu-wrap.input-prepend {
  margin-bottom: auto;
}

.navbar-form i.add-on {
  margin-top: 5px;
}

ul.dropdown-menu > li.sbs-menu-item > a
{
  padding-left: 5px;
}

.sbs-menu-popup {
  display: block;
  position: fixed !important;
}

